src/main/resources/wsdl/countries.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:element name="getCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllCountryRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="saveCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="saveCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="population" type="xs:int"/>
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="currency" type="tns:currency"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="PLN"/>
            <xs:enumeration value="TL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllCountryResponse">
    <wsdl:part element="tns:getAllCountryResponse" name="getAllCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryResponse">
    <wsdl:part element="tns:getCountryResponse" name="getCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveCountryResponse">
    <wsdl:part element="tns:saveCountryResponse" name="saveCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveCountryRequest">
    <wsdl:part element="tns:saveCountryRequest" name="saveCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryRequest">
    <wsdl:part element="tns:getCountryRequest" name="getCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCountryRequest">
    <wsdl:part element="tns:getAllCountryRequest" name="getAllCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountryResponse">
    <wsdl:part element="tns:deleteCountryResponse" name="deleteCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCountryRequest">
    <wsdl:part element="tns:deleteCountryRequest" name="deleteCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CountriesPort">
    <wsdl:operation name="getAllCountry">
      <wsdl:input message="tns:getAllCountryRequest" name="getAllCountryRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllCountryResponse" name="getAllCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <wsdl:input message="tns:getCountryRequest" name="getCountryRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCountryResponse" name="getCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCountry">
      <wsdl:input message="tns:saveCountryRequest" name="saveCountryRequest">
    </wsdl:input>
      <wsdl:output message="tns:saveCountryResponse" name="saveCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCountry">
      <wsdl:input message="tns:deleteCountryRequest" name="deleteCountryRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteCountryResponse" name="deleteCountryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCountry">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllCountryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCountryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCountry">
      <soap:operation soapAction=""/>
      <wsdl:input name="saveCountryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCountry">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteCountryRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteCountryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountriesPortService">
    <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>